# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
client/node_modules/
server/node_modules/

# Expo
client/.expo/
client/dist/
client/web-build/
server/.expo/
server/dist/
server/web-build/


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
client/.metro-health-check*
server/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
client/npm-debug.*
client/yarn-debug.*
client/yarn-error.*
server/npm-debug.*
server/yarn-debug.*
server/yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
client/.env*.local
server/.env*.local

# typescript
*.tsbuildinfo

# Ignore Gradle project-specific cache directory
client/.gradle
server/.gradle

# Ignore Gradle build output directory
client/build
server/build

# npx expo-doctor  
# This project has native project folders but is also configured to use Prebuild. EAS Build will not sync your native configuration if the ios or android folders are present. Add these folders to your .gitignore file if you intend to use prebuild (aka "managed" workflow).
client/android/
client/ios/
